<div>
    <h2>{{ gameState.language === "fr" ? "Choisissez votre chef.fe" : "Choose your leader"}}</h2>
    <div *ngFor="let leader of leaders" class="leader-container">
        <p>{{ leader.name[gameState.language] }}</p>
        <button (click)="displayDeck(leader.cards)"><app-svg-display path="library"></app-svg-display></button>
        <br>
        <button
        class="big"
        (click)="selectLeader(leader.name.en)"
        [ngClass]="gameState.leader.name.en === leader.name.en ? 'selected' : ''"
        >
          {{ gameState.language === "fr" ? "Sélectionner" : "Select" }}  
        </button>
    </div>
</div>