<div>
    <h2>{{ language === "fr" ? "Quel rituel pour ce lieu ?" : "What ritual for this place?" }}</h2>
    <div class="rituals-container">
        <button *ngFor="let ritual of rituals" (click)="selectRitual(ritual.name.en)">
            <p>{{ ritual.name[language] }}</p>
            <p>{{ ritual.maxProgression }}<app-svg-display path="ritual" size="small"></app-svg-display></p>
            <p>{{language === "fr" ? "Récompenses :" : "Rewards:"}}</p>
            <ul>
                <li *ngFor="let reward of ritual.rewards">{{ reward }}</li>
            </ul>
        </button>
    </div>
</div>