<div style="text-align: center;">
    <app-game-header [gameState]="gameState"></app-game-header>
    <div class="spacer"></div>
    <app-game-current-card [currentCard]="gameState.deck.currentCard" (choiceMadeEmitter)="onCardChoiceMadeReceive($event)"></app-game-current-card>
    <div class="spacer"></div>
    <div class="deck-status">
        <app-game-library
            [library]="gameState.deck.library"
            (displayLibraryEmitter)="onDisplayLibraryReceive()">
        </app-game-library>
        <app-game-next-card
            [scryValue]="gameState.battleEffects.scry"
            [nextCard]="gameState.deck.nextCard"
            (displayNextCardOwnerEmitter)="onDisplayNextCardOwnerReceive()"
            (displayNextCardEmitter)="onDisplayNextCardReceive()">
        </app-game-next-card>
        <app-game-graveyard
            [graveyard]="gameState.deck.graveyard"
            (displayGraveyardEmitter)="onDisplayGraveyardReceive()">
        </app-game-graveyard>
    </div>
    <div class="spacer"></div>
    <app-game-footer [gameState]="gameState"></app-game-footer>
</div>