 <div class="card">
    <h2>{{ card.name[language] }}</h2>
    <div class="picture">
        <!--image-->
    </div>
    <div class="banner">
        <div><span class="cost-value">{{ card.choices[0].cost }}</span><app-svg-display path="mana"></app-svg-display></div>
        <p>{{ card.flavor[language] }}</p>
        <div><span class="cost-value">{{ card.choices[1].cost }}</span><app-svg-display path="mana"></app-svg-display></div>
    </div>
    <div class="choices">
        <button
            *ngFor="let choice of card.choices"
            (click)="choiceMade(choice)"
            class="choice"
        >
            <div
                *ngFor="let action of choice.effect; let i = index"
            >
                <span class="choice-value">{{ choice.value[i] > 1 ? choice.value[i] : '' }}</span><app-svg-display [path]="choice.effect[i]"></app-svg-display>
            </div>
        </button>
    </div>
</div>