/* You can add global styles to this file, and also import other style files */
* {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

button.big {
    width: 75%;
    font-size: 2em;
}